.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: center;
  /* position: fixed; */
  width: 100%;
  height: 150px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .nav-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.logo {
  cursor: pointer;
  padding: 32px auto;
  margin: 0 32px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-left: 32px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .logo {
    margin-left: 32px;
  }
}

.profile {
  margin-right: 32px;
}
