.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.button-login {
  cursor: pointer;
  display: inline-block;
  padding: 16px 21px;
  border-radius: 8px;
  background-image: linear-gradient(
    90deg,
    rgba(109, 106, 254, 1),
    rgba(106, 227, 254, 1)
  );
  color: rgba(245, 245, 245, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 21px 32px;
  width: 128px;
  height: 54px;
  text-decoration: none;
  border: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .button-login {
    margin-right: 32px;
  }
}
