* {
  box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 1199px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: Pretendard;
  height: auto;
  margin : 0 auto;
  padding: 0;
  max-width: 1920px;
}

.logo {
  cursor: pointer;
  padding: 32px auto; 
  /* margin-left: 12.5rem; */
  margin : 0 32px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-left: 32px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .logo {
    margin-left: 32px;
  }
}

.login {
  width: 128px;
  height: 48px;
  margin : 0 32px;
  padding: 32px auto;
}

@media (min-width: 375px) and (max-width: 767px) {
  .login {
    margin-right: 32px;
  }
}

.button-login {
  cursor: pointer;
  display: inline-block;
  padding: 16px 21px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, rgba(109, 106, 254, 1), rgba(106, 227, 254, 1));
  color:rgba(245, 245, 245, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 21px 32px;
  width: 128px;
  height: 54px;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .button-login {
    margin-right: 32px;
  }
}

.button-signup {
  cursor: pointer;
  display: inline-block;
  padding: 16px 21px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, rgba(109, 106, 254, 1), rgba(106, 227, 254, 1));
  color:rgba(245, 245, 245, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 40px auto 90px;
  width: 352px;
  height: 54px;
  text-decoration: none;
}

header{
  background-color: rgba(240, 246, 255, 1);
  height: auto;
  margin: 0;
  padding: 0;
}


.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: center;
  position: fixed;
  width: 100%;
  height: 80px;
  margin: 0;
  height: 150px;
  padding: 0 32px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .header-top {
    padding-left: 32px;
    padding-right: 32px;
  }
}

h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  word-break: keep-all
}

@media (min-width: 768px) and (max-width: 1199px) {
  .h1 {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .h1 {
    font-size: 23px;
    line-height: 60px;
  }
}

.header-content span{
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, rgba(109, 106, 254, 1), rgba(255, 159, 159, 1));
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 128px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-imgs, .main-imgs {
    max-width: calc(100% - 64px);
    max-height: 100vh; 
    width: 100%;
    height: auto;
    display: block; 
    margin: 0 32px; 
    /* object-fit: contain; */
  } 
}

.header-imgs {
  max-width: 100%;
  height: auto;
}

.main-imgs {
  max-width: 100%;
  width: 90%;
  height: auto;
  border-radius: 16px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .header-imgs, .main-imgs {
    max-width: calc(100% - 64px);
    max-height: 100vh; 
    width: auto;
    height: auto;
    display: block; 
    margin: 0 32px; 
    object-fit: contain;
  } 
}

.image-wrapper {
  grid-area: image;
  width: 100%;
}


.section-left  {
  font-size: 24px;
  display: grid;
  grid-template: "mainfont image"
                 "explain image";
  width: 100%;
  height: auto;
  padding: 40px 32px;
  margin-top: 80px;
  word-break: keep-all;
}

.section-right {
  font-size: 24px;
  display: grid;
  grid-template: "image mainfont"
                 "image explain";
  width: 100%;
  height: auto;
  padding: 40px 32px;
  margin-top: 80px;
  word-break: keep-all;
}

.explain {
  grid-area: explain;
  color: rgba(107, 107, 107, 1);
  padding: 30px;
  text-align: left;
  margin: 32px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .section-left, .section-right {
    display: grid;
    grid-template-areas:
    "mainfont"
    "image"
    "explain";
    /* grid-gap: 16px; */
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.main-font {
  grid-area: mainfont;
  display: block;
  width: 100%;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  line-height: 1.3;
  margin: 32px;
  padding: 0;
  text-align: left;
}

@media (min-width: 375px) and (max-width: 767px) {
  .explain {
    font-size: 15px;
    grid-area: explain;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .main-font {
    text-align: center;
  }
}


.save {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(95.63deg, #FE8A8A 1.72%, #A4CEFF 74.97%)
}

.manage {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(277.01deg, #6FBAFF 59.22%, #FFD88B 93.66%);
}

.share {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(99.5deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}

.search {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(271.36deg, #FE578F -9.84%, #68E8F9 107.18%);
}

footer {
  background-color: rgba(17, 19, 34, 1);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: 
  "com cen sns";
  height: 160px;
  padding: 32px 104px 64px;
  grid-auto-flow: row;
}

@media (min-width: 375px) and (max-width: 767px) {
  footer {
    display: grid;
    grid-template-areas: 
    "cen sns"
    "com .";
    grid-column-gap: 50px;
  }
  .footer-company {
    margin-top: 20px;
  }
}

.footer-company {
  grid-area: com;
  color: rgba(103, 103, 103, 1);
  font-family: Abel;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.footer-center {
  grid-area: cen;
  display: flex;
  column-gap: 144px;
}

.footer-center a {
  color: rgba(207, 207, 207, 1); 
  text-decoration: none;
}

.sns {
  grid-area: sns;
  display: flex;
  column-gap: 19px;
  height: 32px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .sns {
    column-gap: 10px;
  }
}