* {
  box-sizing: border-box;
}


body {
  background-color: rgba(240, 246, 255, 1);
  display: flex;
  flex-direction: column;
  font-family: Pretendard;
  margin: 80px 32px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  body {
    margin: 32px;
    margin-top: 64px;
  }

}

.sign-up {  
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin : 16px auto;
}

.sign-up a{
  color: rgba(109, 106, 254, 1);
  font-weight: 600;
  text-decoration: none;
}

.login {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  gap: 13px;
  margin-top: 24px;
  font-family: Pretendard;
}

.email, .password{
  width: 400px;
  height: 61px;
  padding: 18px 14px;
  border-radius: 8px;
  border: 1px solid rgba(204, 213, 227, 1);
}

.error-mail, .error-pass {
  font-size: 14px;
  color : rgba(255, 91, 86, 1);
  ;
}

.email.error, .password.error, .password-confirm.error{
  outline: 1px solid rgba(255, 91, 86, 1);
}
input:focus {outline: 1px solid rgba(109, 106, 254, 1);}

button {
  border:none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  padding: 16px 21px;
  border-radius: 8px;
  background-image: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  color:rgba(245, 245, 245, 1);
  text-align: center;
  width: 384px;
  height: 48px;
  border-radius: 8px;
  margin-top: 30px;
}

.login-sns {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  width: 400px;
  height: 65px;
  padding: 13px 24px;
  border-radius: 8px;
  border: 1px solid rgba(204, 213, 227, 1);
  background-image: linear-gradient(0deg, #E7EFFB, #E7EFFB),
  linear-gradient(0deg, #CCD5E3, #CCD5E3);
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .email, .password, button, .login-sns {
    width: 352px;
    max-width: 400px;
  }
}


.passinput{
  position: relative;
}

.eyeImagePass {
  position: absolute;
  margin: 50px 370px 5px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .eyeImagePass {
    position: absolute;
    margin: 53px 320px 5px;
  }
}
